
SourceCode/POS.Admin/bin/

SourceCode/POS.Aux/bin/

SourceCode/POS/bin/

SourceCode/POS.Admin/obj/Debug/

SourceCode/POS.Aux/obj/Debug/

SourceCode/POS/obj/Debug/

SourceCode/POS.Admin/obj/x64/Debug/

SourceCode/POS/obj/x64/Debug/

SourceCode/POS.Aux/obj/x64/Debug/
